@media (min-width:1400px){
  .card{
    border-radius: 15px;
    margin: 200px auto;
    width: 520px;
  }

  .card-body{
    padding: 50px 30px 65px;
  }

  .advice{
    padding: 10px 30px;
  }

  .advice-id{
    font-size: 12px;
    letter-spacing: 4px;
  }

  .dice-button{
    right: 225px;
  }

}
